composer.phar
junk*.php
test.php
composer.lock
*.log
.idea/
build/
docs/
export/
log/
vendor/
xdebug/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/humbuglog.json
/humbuglog.txt
